.right__card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #282828;

  @media screen and (max-width: 572px) {
    flex-direction: column-reverse;
    width: 350px;
    gap: 2em;
  }

  .card__container__left {
    padding-left: 2em;
    display: grid;
    gap: 2em;

    @media screen and (max-width: 572px) {
      padding: 0;
    }

    h1 {
      font-size: 2.5rem;
      font-family: $fraunces-font;
      line-height: 49px;
      font-weight: 400;
      background-color: #fff;
      margin-bottom: 0;
      width: 211px;
      height: 60px;
      color: #333333;
      text-align: center;

      @media screen and (max-width: 572px) {
        font-size: 1.56rem;
        width: 180px;
      }
    }

    p {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 28px;
      color: #ffffff;
      width: 543px;

      @media screen and (max-width: 572px) {
        font-size: 0.875rem;
        width: 276px;
      }
    }

    a {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      margin-top: 4em;
      margin-bottom: 0;
      display: grid;

      @media screen and (max-width: 572px) {
        font-size: 0.875rem;
        margin: 2em 0;
      }

      .highlight {
        background: linear-gradient(180deg, #f47bff 0%, #6c54ff 100%);
        width: 116px;
        height: 4px;
        border-radius: 5px;
      }
    }
  }
}

.left__card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #282828;

  @media screen and (max-width: 572px) {
    flex-direction: column;
    width: 350px;
    gap: 2em;
  }

  .card__container__right {
    display: grid;
    gap: 2em;
    h1 {
      font-size: 2.5rem;
      font-family: $fraunces-font;
      line-height: 49px;
      font-weight: 400;
      background-color: #fff;
      margin-bottom: 0;
      width: 211px;
      height: 60px;
      color: #333333;
      text-align: center;

      @media screen and (max-width: 572px) {
        font-size: 1.56rem;
        width: 180px;
      }
    }

    p {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 28px;
      color: #ffffff;
      width: 543px;

      @media screen and (max-width: 572px) {
        font-size: 0.875rem;
        width: 276px;
      }
    }

    a {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      margin-top: 4em;
      margin-bottom: 0;
      display: grid;

      @media screen and (max-width: 572px) {
        font-size: 0.875rem;
        margin: 2em 0;
      }

      .highlight {
        background: linear-gradient(180deg, #f47bff 0%, #6c54ff 100%);
        width: 116px;
        height: 4px;
        border-radius: 5px;
      }
    }
  }
}

img {
  width: 559px;

  @media screen and (max-width: 572px) {
    width: 350px;
  }
}

.works__container {
  display: grid;
  gap: 1.3em;

  p {
    font-family: $fraunces-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 25px;
    color: #ffffff;
    margin: 0;
  }

  a {
    font-family: $rubik-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
    color: #ffffff;
    display: flex;
    margin-bottom: 0;
    display: grid;

    &:hover {
      color: #fff;
    }

    .highlight {
      background: linear-gradient(180deg, #f47bff 0%, #6c54ff 100%);
      width: 116px;
      height: 4px;
      border-radius: 5px;
    }
  }
}
