.right__card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #282828;

  .card__container__left {
    padding-left: 2em;
    display: grid;
    gap: 2em;
    h1 {
      font-size: 2.5rem;
      font-family: $fraunces-font;
      line-height: 49px;
      font-weight: 400;
      background-color: #fff;
      margin-bottom: 0;
      width: 211px;
      height: 60px;
      color: #333333;
      text-align: center;
    }

    p {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 28px;
      color: #ffffff;
      width: 543px;
    }

    a {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      margin-top: 4em;
      margin-bottom: 0;
      display: grid;

      .highlight {
        background: linear-gradient(180deg, #f47bff 0%, #6c54ff 100%);
        width: 116px;
        height: 4px;
        border-radius: 5px;
      }
    }
  }
}

.left__card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #282828;

  .card__container__right {
    display: grid;
    gap: 2em;
    h1 {
      font-size: 2.5rem;
      font-family: $fraunces-font;
      line-height: 49px;
      font-weight: 400;
      background-color: #fff;
      margin-bottom: 0;
      width: 211px;
      height: 60px;
      color: #333333;
      text-align: center;
    }

    p {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 28px;
      color: #ffffff;
      width: 543px;
    }

    a {
      font-family: $rubik-font;
      font-style: normal;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      margin-top: 4em;
      margin-bottom: 0;
      display: grid;

      .highlight {
        background: linear-gradient(180deg, #f47bff 0%, #6c54ff 100%);
        width: 116px;
        height: 4px;
        border-radius: 5px;
      }
    }
  }
}

img {
  width: 559px;
}
